<div class="container">
    <div class="col-sm-6"><img src="/images/contact.jpg" alt="" /></div>
    <div class="col-sm-6">
        <h1>Contact us!</h1>
        <p>Enter your informations if you're interested to learn more:</p>
        <form class="contact-form" action="/contact" method="post">
            <div class="form-group">
                <input class="form-control" placeholder="Name" type="text" name="name" required />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Email" type="email" name="email" required />
            </div>
            <div class="form-group">
                <input class="button form-control" type="submit" value="Submit" />
            </div>

        </form>
        <p>We'll get back to you soon!</p>
    </div>
</div>